# Logs
logs
*.log
npm-debug.log*
request.log
error.log

# Dependency directory
node_modules
dist
build


# Settings
.env

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode
src/.DS_Store
